# ML 24.03.17: gitignore for submodule with ncsim sim environment
# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]

*.a
*.bak
*.bit
*.bkp
*.btree
*.cdsvmod
*.cff
*.clx.*
*.csv
*.design_facts
*.err
*.f
*.html
*.inca.*
*.jou
*.key
*.lnx86
*.log
*.ltx
*.o
*.orig
*.pak
*.reinvoke.sim
*.so
*.tmp
*inca.*
*~
*~
.DS_Store
._*
\#*

# path for simvision
*.csvmod
*.inca.*
*inca.*
*simvision*
INCA_libs
cov_work
irun.*
sim/*/*/run/*.svcf
sim/*/*/run/*.tcl
sim/*/libs_ius/*/
sim/*/libs_questa/*
sim/*/run/*.svcf
sim/*/run/*.svwf
sim/*/run/*.tcl
waves.*

# path for ghdl
work
