SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="PPWLE6EX", SYMLINK+="ttyBEAM_SHTR_CNTRL", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTXNUTDL", SYMLINK+="ttySEM_IP_UART", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTXO2KNH", SYMLINK+="ttySEM_IP_UART", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FT0HCITJ", SYMLINK+="ttySEM_IP_UART", MODE="0666"
